@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html {
    font-family: sans-serif;
}

body {
	margin: 0;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.8);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-feature-settings: "liga";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
    text-rendering: optimizelegibility;
}

h1, h2,h3,h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.028em;
  margin-left: -2.5px;
}
h1 { line-height: 1.28;}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-left: -2.25px;
}
h4 {	
  font-size: 21px;
  letter-spacing: -0.018em;
  line-height: 1.22;
  margin-left: -1.31px;
}
a:hover {text-decoration:none}
p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-height: 1.58;
  margin-bottom: 30px;
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

/* menu */
.navbar-default {padding:5px 0}
.navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.44);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
/* content  */
body.path-node .main-container {margin-top:20px}
.field--name-body {margin:20px 0}

.content ol li, .content ul li {margin-bottom:5px}
		
/* submitted by */
.author {
  color: rgba(0, 0, 0, 0.44);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 10px 0;
}
/* tags */
.field--name-field-tags {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.feed-icons {font-size:14px}

/* Full Screen Search */
#block-progress-search .input-group {position:static}
#block-progress-search .form-control:focus {box-shadow:none}
#block-progress-search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#block-progress-search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 2;
}

#block-progress-search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 85%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    height:70px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin-left: 30px;
    margin-right: 20px;
    outline: none;
}
#block-progress-search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#block-progress-search .close {
    position: fixed;
    top: 140px;
    right: 35px;
    color: #fff;
	background-color: #222;
	opacity: 1;
	padding: 10px 17px;
	font-size: 36px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* bootstrap overrides */
.breadcrumb {font-size:14px;margin-top:10px;background:none}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {margin-left:-10px}
.page-header {border-bottom:none;padding:0}
img {max-width:100%;height:auto}
blockquote p {color: rgba(0, 0, 0, 0.7);font-size:20px}
.list-inline {text-align:right;font-size:13px;}
.btn {margin-right:10px}
.filter-help, .search-help-link {font-size:13px}
.footer {font-size:13px}
